.cat-wrap {
    position: absolute;
    top: 10px;
    right: 0;
}
.dialog {
    position: absolute;
    max-width: 200px;
    top: -30px;
    transform: translateY(-90px);
    font-size: 13px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    right: 20px;
    box-shadow: 3px 3px 4px 0px rgba(2, 2, 2, 0.1);
    transition: opacity .3s linear;
}
.dialog::after{
    content: '';
    border: 10px solid;
    display: block;
    position: absolute;
    bottom: -30px;
    right: 20px;
    border-top: 20px solid rgba(255, 255, 255, 0.4);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.cat{
    width: 200px;
    transform: scaleX(-1);
}
.cat img{
    width: 100%;
}